html{
	height:100%;
	width:100%;
	margin: 0px;	

	body {
		height:100%;
		width:100%;
		margin: 0px;
		h3{
			-webkit-margin-before: 0px;
			-webkit-margin-after: 0px;
		}	
		#map {
			height:100%;
			width:100%;
		}

		#listbox-wrapper{
			position:absolute;
			top:0;
			left:0;
			background-color:pink;

			#listbox-img{
				height:200px;
				width:100%;
				overflow:hidden;
				img{
					top:-53px;
					position: relative;
				}
			}

			#listbox-content{
				height:200px;
				width:100%;
				
				#listbox-content-padding{
					padding: 16px 24px 20px;

					.place-name {
						font-size: 12px;
					}
				}
				
			}

		}
	}
}
