html{
	height:100%;
	width:100%;
	margin: 0px;	

	body {
		height:100%;
		width:100%;
		margin: 0px;
		h3{
			-webkit-margin-before: 0px;
			-webkit-margin-after: 0px;
		}	
		#map {
			height:100%;
			width:100%;
		}
	}
}
