<!DOCTYPE html>
<html>
	<title>Yuxuan's map</title>
	<head>
		<link rel=stylesheet type="text/css" href="/css/mystyle.css">
	</head>
	<body>
		<div id = "map"></div>
		<script type="text/javascript" src = "/js/jquery.js"></script>
		<script type="text/javascript" src = "https://maps.googleapis.com/maps/api/js?key=AIzaSyD9SwX4CKr1CIRSVehIMKNsbHi2StHbCkM&libraries=places"></script>
		<script type="text/javascript" src = "/js/searchbar.js"></script>		
		<script type="text/javascript" src = "/js/mymap.js"></script>
		<div id="listbox-wrapper">
			<div id="listbox-img"><img></img></div>
			<div id="listbox-content">
				<div id="listbox-content-padding">
					<div class="place-name"></div>
					<div class="place-rating"></div>
					<div class="place-type"></div>
				</div>
			</div>
			<div id="detailed-info">
				<div id="detailed-info-padding">
					<div id="phone-num" class="l2"></div>
					<div id="address" class="l2"></div>
					<div id="web" class="l2"></div>
					<hr/>
					<div id="isopen" class="l2"></div>
					<div id="open_hours" class="l2"></div>
					<hr/>
					<div id="price" class="l2"></div>
				</div>
			</div>
			<div id="button-triangle" label="Collapse panel">
				<div id="triangle">
				</div>
			</div>
		</div>
	</body>
</html>
